/* 貼り付け画像について */
h1 {
    position: relative; /* 相対位置を設定 */
    color: rgb(232, 51, 51); /* テキストの色 */
    padding: 20px; /* パディングを追加 */
    opacity: 0.9;
}

h1 .background-img {
    position: absolute; /* 絶対位置を設定 */
    top: 0; /* 上からの位置 */
    left: 0; /* 左からの位置 */
    width: 100%; /* 幅を100%に */
    height: 100%; /* 高さを100%に */
    object-fit: cover; /* 画像のサイズを調整 */
    z-index: -1; /* 背景として前面のテキストの後ろに表示 */
}

.kannsuu {
    position: relative; /* 相対位置を設定 */
    color: rgb(255, 255, 255); /* テキストの色 */
    padding: 20px; /* パディングを追加 */
    opacity: 0.9;
}

.background-img1 {
    position: absolute; /* 絶対位置を設定 */
    top: 0; /* 上からの位置 */
    left: 0; /* 左からの位置 */
    width: 100%; /* 幅を100%に */
    height: 100%; /* 高さを100%に */
    object-fit: cover; /* 画像のサイズを調整 */
    z-index: -1; /* 背景として前面のテキストの後ろに表示 */
}

/* コード例の枠線 */
ul.気を付ける点1 {
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.気を付ける点1no2 {
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.気を付ける点2 {
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.気を付ける点2no2 {
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.気を付ける点2no3 {
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.気を付ける点2no4 {
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文1{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文2{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文3{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文4{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文5{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文6{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文7{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文8{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

.基本構文9{
    border: 2px solid rgb(176, 255, 102);  /* 枠線の太さ、スタイル、色 */
    border-radius: 5px;      /* 角を丸くする（オプション） */
    background-color: #d6d6d5;
}

/* 題名の下に線を引く */
.daimei{
    text-decoration:underline;
    text-decoration-color: rgb(255, 79, 79);
}
